{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block body_content  %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
	<div class="row">
        <div class="span12">
			<nav>
			  <h3>You can:</h3>
			  <ul>
			    <li>Authenticate with QuestionBank</li>
			    <li><a href="{{ url_for('newQuestion') }}">Create a new question</a></li>
			    <li><a href="{{ url_for('listQuestions') }}">View created questions</a></li>
			  </ul>
			</nav>
		</div>
	</div>
	<div class="row">
        <div class="span12">
{% block content %}{% endblock %}
		</div>
	</div>
</div>
{% endblock %}

{%- block style %}
<link href="{{'css/bootstrap.css'|bootstrap_find_resource}}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
{%- block style_navbar_padding %}
<style>
  body {
    padding-top: 60px;
  }
</style>
{%- endblock %}
{%- endblock %}